.IssueList {
    display    : grid;
    border     : 1px solid #e1e1e1;
    border-top : 1px solid transparent;
    max-width  : 100%;
    margin     : 10px 0;
}

.issueDataField.header {
    font-weight : bold;
    padding     : 5px;
}

.issueDataField:focus {
    /*border : 1px solid #555;*/
}

.issueDataField {
    position           : relative;
    font-size          : 1em;
    margin             : 0;
    padding            : 0;
    -webkit-box-sizing : border-box;
    box-sizing         : border-box;
    border             : 1px solid #e1e1e1;
    border-bottom      : 1px solid transparent;
    border-right       : 1px solid transparent;
    transition         : 0.4s all;
    height             : 32px;
}

.issueDataField.hidden {
    height   : 0px;
    opacity  : 0;
    overflow : hidden;
}

.fa-button:focus,
.select-icon:focus,
.issueDataInput:focus {
    outline : 1px auto #afcbff;
    outline : 1px auto #959eff;
}

.issueDataInput {
    border     : none;
    box-sizing : border-box;
    padding    : 5px;
    font-size  : 1em;
    width      : 100%;
    height     : 100%;
}

.issueDataSelect {
    position    : relative;
    white-space : nowrap;
    padding     : 5px;
}

.fa-button,
.select-icon:visited,
.select-icon {
    float            : right;
    position         : relative;
    z-index          : 3;
    padding          : 5px 8px;
    background-color : #e1e1e1;
    border-radius    : 3px;
    transition       : 0.2s all;
    cursor           : pointer;
    color            : inherit;
    text-decoration  : none;
    border           : none;
}

.fa-button:hover,
.select-icon:hover {
    background-color : #d1d1d1;
}

.fa-button:active,
.select-icon:active {
    transform : scale(0.95);
}

.dropdownOptions:focus {
    outline : none;
}

.dropdownOptions {
    border           : 1px solid #ccc;
    position         : absolute;
    top              : -6px;
    right            : -6px;
    background-color : white;
    min-width        : 100px;
    z-index          : 10;
}

.selectValue {
    padding-right : 30px;
}

.option {
    white-space : nowrap;
    cursor      : pointer;
    padding     : 2px 6px;
}

.option.selected {
    background-color : #cfe8ff;
}

.option:hover {
    background-color : #e1e1e1;
}

.filter-container {
    position    : absolute;
    background  : white;
    z-index     : 5;
    border      : 1px solid #b1b1b1;
    padding     : 5px;
    top         : 0;
    white-space : nowrap;
    font-weight : normal;
}

.fake-checkbox {
    display       : inline-block;
    border        : 1px solid #ccc;
    border-radius : 4px;
    padding       : 1px 4px;
    margin-right  : 6px;
    font-size     : 0.7em;
    cursor        : pointer;
}

.fake-checkbox.checked {
    border : 1px solid #999;
}

.fake-checkbox .fa-check {
    transition : 0.2s all;
    opacity    : 0;
}

.fake-checkbox.checked .fa-check {
    opacity : 1;
    /*color   : #2056bf*/
}

